<% if(kindOfDoc=='C') { %>
    <h1>Order Create</h1>
    <form action="/order/create_process" method="post">
  <% } else { %>
    <h1>User Update</h1>
    <form action="/order/update_process/<%=anywhere%>" method="post">
  <% } %>
      <p>
        <label>소비자 ID *</label>
        <input type="id" value="<%=custid%>" class="form-control" placeholder="소비자 ID" name="custid" maxlength="20">
      </p>

      <p>
        <label>책 ID *</label>
        <input type="id" value="<%=bookid%>" class="form-control" placeholder="책 ID" name="bookid">
      </p>
  
      <p>
        <label>책 구매 날짜</label>
        <input type="id" value="<%=purchasedate%>" class="form-control" placeholder="ex)20220101" name="purchasedate">
      </p>
  
      <p>
        <label>갯수 *</label>
        <input type="id" value="<%=qty%>" class="form-control" placeholder="갯수" name="qty">
      </p>
  
      <p>
        <label>Cancel *</label>
        <input type="id" value="<%=cancel%>" class="form-control" placeholder="Y or N" name="cancel">
      </p>
  
      <p>
        <label>Refund *</label>
        <input type="id" value="<%=refund%>" class="form-control" placeholder="Y or N" name="refund">
      </p>
  
      <button type="submit" class="btn btn-primary">submit</button>
    </form>